

.header {
    height: 60px;
    background: #FFFFFF;
    border-bottom: 1px solid #E5E7EB;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h2 {
    font-size: 16px;
    font-weight: 600;
    color: #111827;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-circle {
    cursor: pointer;
}

.profile-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
