
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: #FFFFFF;
    padding: 20px 16px;
    overflow-y: auto;
    border-right: 1px solid #E5E7EB;
    font-family: 'Inter', sans-serif;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 25px;
}

.sidebar-logo img {
    width: 100%;
    /* height: 42px; */
    object-fit: contain;
}

.logo-text h3 {
    font-size: 13px;
    font-weight: 700;
    color: #065F46;
    margin-bottom: 3px;
}

.logo-text span {
    font-size: 11px;
    color: #6B7280;
}


.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-title {
    font-size: 12px;
    font-weight: 600;
    color: #065F46;
    margin: 20px 0 8px;
    padding-left: 8px;
}


.menu-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 14px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #6B7280;
    transition: all 0.2s ease;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.menu-link .icon {
    font-size: 16px;
    width: 18px;
    text-align: center;
}

.menu-link:hover {
    background: #E5E7EB;
    color: #111827;
}

.menu-link.active {
    background: #197860;
    color: #FFFFFF;
    font-weight: 600;
}

.menu-link.active svg path {
    stroke: #FFFFFF;
}
